* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: url(./assets/grass_night.png);
    max-height: 100%;
    max-width: 100%;
}

#controls {
    position: absolute;
    user-select: none;
    color: white;
    left: 50%;
    translate: -50% -5%;
    padding: 10px;
    background-color: rgb(19, 16, 16);


}
#controls  button:hover {
    cursor: pointer;
}
#scoreScreen {
    padding: 5px;
    display: flex; 
    justify-content: space-between;
 
}
.left, .right {
    border: 1px solid white;
    padding: 2px;
    height: min-content;
}

#scoreBoard1 {
    color: red;
    font-weight: bolder;    
}
#scoreBoard2 {
    color: green;
    font-weight: bolder;    
}
#scoreBoard3 {
    color: yellow;
    font-weight: bolder;    
}